.rdrDayDisabled:not(.rdrDayPassive) .rdrDayNumber .grayedDate {
    width: 100%;
    background-color: white;
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--color-dark) !important;
}

.rdrDayNumber span, .rdrDateDisplayItemActive input, .rdrMonthAndYearPickers select {
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--color-dark);
}

.rdrDateDisplayItemActive {
    /*noinspection CssUnresolvedCustomProperty*/
    border-color: var(--color-secondary) !important;
}

.rdrDayDisabled {
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--color-light) !important;
}


.rdrDayPassive span.rdrDayNumber {
    display: none;
}

.rdrDayPassive {
    background-color: transparent !important;
}

.rdrEndEdge:not(.grayedDate), .rdrInRange:not(.grayedDate) {
    filter: none !important;
}

.rdrCalendarWrapper, .rdrDateRangeWrapper {
    width: 100%;
}

.rdrMonth {
    width: 100% !important;
}

.rdrDateDisplayWrapper {
    background-color: transparent !important;
}

.rdrDayToday .rdrDayNumber span:after {
    /*noinspection CssUnresolvedCustomProperty*/
    background: var(--color-secondary) !important;
}
